@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to UserCrudApp</h1>
    <p class="lead">
        This web application is a simple yet functional demonstration of a basic CRUD (Create, Read, Update, Delete)
        system for managing users.
        It is built using ASP.NET Core 3.1, Razor Views, Bootstrap 4, and Entity Framework Core.
    </p>
    <hr class="my-4">
    <p>Click the button below to manage users.</p>
    <a class="btn btn-primary btn-lg" href="/Users" role="button">Go to User CRUD</a>
</div>
